:root {
    --pink-hover: #ff9780;
}

:root {
    --black-ghostly: #808080; /* hover */
}

button {
    font-family: 'Assistant' !important;
    padding: 0.5em 1em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
}

button {
    transition: background-color ease, color ease, border ease;
    transition-duration: .2s;
}

button.principal, .btn.principal {
    border: 1px solid var(--default-pink);
    color: var(--default-white);
    background-color: var(--default-pink);
}

button.principal[blue] {
    border: 1px solid var(--default-purple);
    color: var(--default-white);
    background-color: var(--default-purple);
}

button.principal[blue]:hover {
    border: 1px solid var(--default-blue);
    background-color: var(--default-blue);
}

button.principal:hover {
    background-color: var(--pink-hover);
}

button.ghostly {
    font-weight: normal !important;
    background-color: transparent !important;
    color: var(--default-black);
}

button.ghostly:hover {
    border-color: var(--black-ghostly);
}

button.gs:hover{
    background-color: #4674a4 !important;
    color: white!important;
}