<div th:fragment="turnos">
	<div id="fake-container-body">
		<br>
		<h1>Mantenimiento Turnos</h1>
		<br> <a class="btn-open-modal" id="agregarTurno">Agregar
			nuevo</a>
		<!-- MODAL -->
		<div class="modal-container modal-disable-close">
			<div class="modal-window-w3">
				<a href="#" class="btn-close-modal"> <ion-icon name="close"></ion-icon>
				</a>

				<div class="header-h2-github">Nuevo Turno</div>

				<form method="post" th:action="@{/turno}" th:object="${turno}"
					id="formTurno">
					<div class="mb-3">
						<label class="" id="labelId">ID:</label> <input type="text"
							class="" name="id" id="txtId" value=""
							placeholder="Ingrese el id de Usuario" readonly>
					</div>

					<div class="fake-form">
						<div class="block-modal">
							<ion-icon name="apps"></ion-icon>
							<input type="text" class="" name="descripcion"
								id="txtDescripcion" value="" th:field="*{descripcion}"
								maxlength="35" placeholder="Ingresar descripcion">
						</div>
						<div class="block-modal">
							<ion-icon name="apps"></ion-icon>
							<input type="text" class="" name="horario" id="txtHorario"
								value="" th:field="*{horario}" maxlength="35"
								placeholder="Ingresar horario">
						</div>
					</div>

					<div class="actions-form">
						<button type="button" class="principal" id="btnGuardarTurno"
							name="opcion" value="" blue>Guardar</button>
						<button type="reset" class="ghostly" id="btnResetear">Resetear</button>
					</div>
				</form>
			</div>
		</div>
		<div id="table-turno" class="table-crud">
			<table class="table" id="tTurno">
				<thead>
					<tr>
						<th>ID</th>
						<th>Descripcion</th>
						<th>Horario</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="turno:${turnos}">
						<td th:text="${turno.id}"></td>
						<td th:text="${turno.descripcion}"></td>
						<td th:text="${turno.horario}"></td>
						<td class="text-center"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{/js/turno.js}"></script>
	<!-- Modal propio -->
	<script th:src="@{/js/own-modal.js}" src="../static/js/own-modal.js"></script>
</div>
