/* All files .css need the default settings */
@import url(general.css);

/* Normalize css */
@import url(libcss/normalize.css);

body {
    min-height: 100vh;
}

.container-form {
    width: 100%;
}

.form-min, .form {
    width: 50%;
    margin: auto;
}
.block-input {
    display: flex;
}

.form {
    font-family: 'Catamaran';
    margin: 2em auto;
    box-shadow: 0 0 10px var(--default-pink);
    padding: 0.2em 1.3em;
    padding-bottom: 30px;
}

form > div {
    margin: 2em 0;
    width: 100%;
}

.container-logo {
    margin: 2em 0;
    display:flex;
    width: 100%;
    justify-content: center;
}

.logo {
    width: 5%;
}

.block-input {
    width: 100%;
}

.block-input .icon {
    display: flex;
    font-size: 20px;
    align-self: center;
}

.icon:hover {
    box-shadow: none;
}

.block-input .input-email, .input-password {
    width: 90%;
}

.block-input .input-email input, .input-password input {
    width: 80%;
    padding: 0.5em 1em;
    outline: none;
    margin: 0 1em;
    border-radius: 4px;
    border: 1px solid var(--shadow-clear);
    transition: box-shadow 0.15s linear;
}


.block-input .input-email input:focus, .block-input .input-password input:focus {
    box-shadow: 0 0 4px var(--default-pink);
    border: 1px solid var(--default-pink);
}

label.error{
    margin: 0 1em;
}