<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/error.css" th:href="@{/css/error.css}">
    <title>Error 404</title>
</head>
<body>
    <div id="img-error">
        <img src="img/page_not_found.svg" th:src="@{/img/page_not_found.svg}" alt="Image not found :(">
        <p id="error-title">404 Error</p><hr>
        <p>Lo sentimos, pero la página que busca no existe.</p>
        <a href="" th:href="@{/principal}">Volver al inicio</a>
    </div>
</body>
</html>