<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DonattoMinaya AdrianMauro">
    <meta name="description" content="Página administrativa de Vivian">
    <meta name="keywords" content="Restaurante Recetas Comida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/forgotpassword.css}" href="../static/css/forgotpassword.css">
    <link rel="stylesheet" th:href="@{/css/own-spinner.css}" href="../static/css/own-spinner.css">
    <!-- JQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <title>Contrase&#241;a olvidada</title>
</head>
<body>
    <div class="container-logo">
        <div class="logo">
            <img th:src="@{/img/corazon.jpg}" src="../static/img/corazon.jpg" alt="">
        </div>
    </div>

    <div class="container-form">
        <div class="form-min">
            <div class="form">
                <form action="" id="formForgotPassword">
                    <div class="header-h3-github ">
                        ¿Contraseña olvidada?
                    </div>

                    <div class="description">
                        <span>Se te enviará un correo de confirmación donde podrás cambiar la contraseña</span>
                    </div>

                        <div class="block-input">
                            <div class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </div>
                            <div class="input-email">
                                <input type="email" name="username" id="username" placeholder="Ingresa tu usuario o correo" minlength="4" maxlength="50" />
                            </div>
                        </div>

                </form>

                <div class="action-buttons">
                    <button id="enviarUsuario" class="principal">Enviar</button>
                    <button id="volverInicio" class="ghostly">Volver al inicio</button>
                </div>

                <div id="divSpinner" class="row spinhidden" style="text-align: center; margin-top: 55px;margin-bottom: 25px">
                    <div class="col-sm-2 col-xs-4 text-center">
                        <div class="whirly-loader"></div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Swal -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Jquery Validator -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <!--Metodo propios-->
    <script th:src="@{/js/forgotpassword.js}"></script>
</body>
</html>