<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DonattoMinaya AdrianMauro">
    <meta name="description" content="Página administrativa de Vivian">
    <meta name="keywords" content="Restaurante Recetas Comida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/corazon.jpg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/initial-progress.css}" href="../static/css/initial-progress.css">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css">
    <title>Bienvenido a Vivian!</title>
</head>
<body>
    <div class="container">
        <div class="fondo"></div>
        <div class="login">
            <div class="form-login">
                <form th:action="@{/login}" method="post">
                    <div class="block-form">
                        <div>
                            <img src="../static/img/corazon.jpg" th:src="@{/img/corazon.jpg}" alt="" />
                        </div>
                    </div>
                    <div class="block-form">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="email" name="username" id="username" placeholder="Ingresa tu usuario o correo" minlength="4" maxlength="50" />
                    </div>
    
                    <div class="block-form">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" id="password" placeholder="Tu contraseña" minlength="4" maxlength="20" />
                    </div>

                    <div class="block-form" id="forgot-password">
                        <a th:href="@{/recuperation}" style="margin-inline-start: 10em;">Olvidé mi contraseña</a>
                    </div>
                    
                    <div class="block-form">
                        <div id="errorMsg" th:if="${param.error}" class="">
                            Usuario y/o contraseña inválido.
                        </div>
                    </div>
    
                    <div class="block-form">
                        <button type="submit" class="principal">INGRESAR</button>
                    </div>
                    
                </form>
                
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--  Script de todos los metodos javascript  -->
    <script th:src="@{/js/index.js}"></script>

</body>
</html>