<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DonattoMinaya AdrianMauro">
    <meta name="description" content="Página administrativa de Vivian">
    <meta name="keywords" content="Restaurante Recetas Comida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/forgotpassword.css}" href="../static/css/forgotpassword.css">
    <!-- JQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <title>Restablecer contrase&#241;a</title>
</head>
<body>
    <div class="container-logo">
        <div class="logo">
            <img th:src="@{/img/corazon.jpg}" src="../static/img/corazon.jpg" alt="">
        </div>
    </div>

    <div class="container-form">
        <div class="form-min">
            <div class="form">
                <form id="formResetPassword">
                    <div class="header-h3-github ">
                        Restablecer contraseña
                    </div>

                    <div class="description">
                        <span>Coloca tu nueva contraseña y asegurate de recordarla esta vez.</span>
                    </div>

                    <div class="block-input">
                        <div class="icon">
                            <ion-icon name="lock"></ion-icon>
                        </div>
                        <div class="input-password">
                            <input type="password" name="resetpassword" id="resetpassword" placeholder="Ingresa tu contraseña" minlength="4" maxlength="50" />
                        </div>
                    </div>

                    <div class="block-input">
                        <div class="icon">
                            <ion-icon name="repeat"></ion-icon>
                        </div>
                        <div class="input-password">
                            <input type="password" name="repeatresetpassword" id="repeatresetpassword" placeholder="Repita su contraseña" minlength="4" maxlength="50" />
                        </div>
                    </div>
                </form>

                <div class="action-buttons">
                    <button id="cambiarPassword" class="principal">Cambiar</button>
                </div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- Swal -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Jquery Validator -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <!--Metodo propios-->
    <script th:src="@{/js/resetpassword.js}"></script>

</body>
</html>